.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
  gap: 10px;
  width: 100%;
  }

  @media only screen and (max-width: 1024px) {
    .cardsContainer {
      padding: 32px;
      gap: 24px;
    }
  }
  
  /* Telefoane mici */
  @media only screen and (max-width: 768px) {
    .cardsContainer {
      flex-direction: column;
      padding: 16px;
      gap: 16px;
    }
  }