.pageContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 40px;
  }

  .gradientSection {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 250px; 
    width: 100vw; 
    padding: 90px;
    box-sizing: border-box;
    margin: 0 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.04) 0%, rgba(255, 7, 7, 0.14) 100%), #606060;
    background-blend-mode: overlay;
}

  .gradientSection h2 {
  color: white;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  position: relative;
  text-align: center; 
  margin-bottom: 20px; 
  }