.archive {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 24px;

}

.archive:hover {
  background-color: #f6f6f6;
  border-radius: 16px;

}

.link {
  color: var(--tertiary);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.description {
  color: var(--primary);
  font-family: 'Montserrat', sans-serif;
}