.container {
    position: relative;
    border-radius: 16px;
    cursor: pointer;
}

.image {
    border-radius: 16px;
    width: 200px;
    height: 300px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.delete {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.container-index {
    position: relative;
    border-radius: 16px;
    cursor: pointer;
}
