.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 64px 128px;
  background: white;
  align-items: flex-start;
}

.line {
  padding-left: 8px;
  border-left: 1px solid #e11e24;
}

.lineP {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 17.07px;
  margin: 0;
  max-width: 100%;
}