.carouselItem {
  height: 40vh;
  max-height: 330px;
  color: #fff;
  text-align: center;
  background: #364d79;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .carouselItem {
    height: 50vh; 
  }
}

@media (min-width: 1024px) {
  .carouselItem {
    height: 60vh; 
  }
}

