.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.cardsContainer {
    display: flex;
    padding: 64px 128px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 36px;
    flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
  padding: 64px 128px;
}