/*
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 3.25rem 1rem;
  background-color: var(--secondary);
  font-weight: 500;
  text-align: center;
  position:static;
left:0;
bottom:0;
right:0;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    padding: 3.25rem 2rem;
  }
}

.logo {
  max-width: 150px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .logo {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .address {
    align-items: flex-start;
  }
}

.address a {
  color: inherit;
  text-decoration: none;
}

.address > * {
  margin-bottom: 0.25rem;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.row > * {
  margin-left: 0.5rem;
}

.stamp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 1.2rem;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 600;
  position:absolute;
left:0;
bottom:0;
right:0;

}

.loginButton {
  padding: 8px 16px;
  background-color: #0056b3;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  position:absolute;

bottom:0;


}

.loginButton:hover {
  background-color: #003d82;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  
}*/

html {
  height: 100%;
  box-sizing:border-box;
}

body {
 position: relative;
 margin: 0;
 min-height: 100%;
 padding-bottom: 17rem;
 box-sizing: inherit;
}


.footer {
  background-color: var(--secondary);
  padding: 2rem;
  display: flex;
  flex-direction: column; /* RAMANE column mereu */
  align-items: center;
  font-weight: 500;
  position: absolute;
  left: 0;
  right:0;
 bottom:37px;
}


.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.logo {
  max-width: 150px;
  margin-bottom: 1rem;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.address a {
  color: inherit;
  text-decoration: none;
}

.address > * {
  margin-bottom: 0.25rem;
}


.row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.row > * {
  margin-left: 0.5rem;
}

.stamp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 1.2rem;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 600;
  position: absolute;
  left: 0;
  right:0;
 bottom:0
}

.loginButton {
  padding: 8px 16px;
  background-color: #0056b3;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  position: absolute;

  right:0;
 bottom:0;
}

.loginButton:hover {
  background-color: #003d82;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.footer-made-by {
  margin-top: 2rem;
  font-size: 15px;
  text-align: center;
  color: #004992;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

.footer-made-by:hover {
  color: #002d6e; /* o nuanță mai închisă la hover */
  text-decoration-color: #002d6e; /* underline-ul se colorează la hover */
}
/*
@media (min-width: 768px) {
  .logo {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

@media (min-width: 768px) {
  .address {
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
   }

  .footer {
    position: static;
    padding: 2rem 1rem;
    font-size: 14px;
  }
  
  .logo {
    max-width: 120px; 
  }
  
  .stamp {
    position:static;
    font-size: 12px; 
  }
  
  .loginButton {
    position:static;
    padding: 11px 12px; 
    font-size: 12px; 
  }
}*/

@media (max-width: 497px){
  body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 28rem;
    box-sizing: inherit;
   }
}