.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: var(--primary);
  border: none;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  opacity: 0.6;
}

.custom-button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}