.gradientSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  background: var(--secondary);
  padding: 0 16px;
}

