.volumeContainer {
  padding: 4rem 8rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 56px;
  justify-content: space-between;
}

.cover {
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cover-with-options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.volumeUrl {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: 'Montserrat', sans-serif;
  color: var(--tertiary);
  font-weight: 600;
  font-size: 1rem;
}

.url {
  text-decoration: underline !important;
}

.volumeUrl > a {
  text-decoration: none;
  color: var(--primary);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .volumeContainer {
    padding: 3rem 6rem;
    row-gap: 40px;
  }

  .cover {
    width: 100%; 
  }

  .right {
    min-width: 100%; 
  }
}

@media (max-width: 768px) {
  .volumeContainer {
    padding: 2rem 4rem;
    row-gap: 32px;
    justify-content: center; 
  }

  .cover {
    width: 100%;
    max-width: 300px; 
  }

  .left,
  .right {
    min-width: 100%;
    gap: 24px; 
  }

  .label {
    font-size: 0.875rem; 
  }
}

@media (max-width: 480px) {
  .volumeContainer {
    padding: 1rem 2rem;
    row-gap: 24px;
  }

  .cover {
    width: 100%;
    max-width: 200px; 
  }

  .left,
  .right {
    min-width: 100%;
    gap: 16px;
  }

  .label {
    font-size: 0.75rem; 
  }
}
