:root {
    --primary: #004992;
    --secondary: #B8CCE0;
    --tertiary: #E11E24;
    --white: white;
}

html, body {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./assets/fonts/Montserrat.ttf) format('truetype');
}

#app {
    color: var(--primary);
    font-family: "Montserrat", serif;
}

.logo {
    width: 98px;
    height: 107px;
}
