.card {
  border: 1px solid #ffffff;
  border-radius: 24px;
  padding: 36px 36px;
  position: relative;
}

.backgroundImage {
  border-radius: 8px;
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.title {
  position: absolute;
  top: 0; 
  right: 0;
  color: #004992;
  font-size: 14px;
  padding: 10px;
}

.issueNumber {
  color: #004992;
  font-size: 14px;
  font-weight: 700; 
  margin-bottom: 16px;
}

.button {
  padding: 12px 24px; 
  background-color: #0056b3; 
  color: white; 
  font-size: 16px; 
  font-weight: bold;
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.button:hover {
  background-color: #003d82;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deleteVolume {
  position: absolute;
  right: 3rem;
  top: 3rem;
}