.chapterContainer {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 12px;
  color: var(--primary);
}

.chapterContainer:hover {
  background-color: #f6f6f6;
  border-radius: 12px;
}

.chapterTitle {
  color: var(--tertiary);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 80%;
  cursor: pointer;
}

.pages {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  gap: 16px;
}


